.search{
    width: 400px;
    height: 20px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    width: 480px;
    margin-bottom: -40px;
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    display: block
}

.main{
    margin-top: 40px;

}


.btn{
    margin-top: 30px;
    margin-left: 4px;
    margin-right: 4px;
    background: #dfe1e5;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-size: 14px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
}
