body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, 'sans-serif';
    text-align: center;
    background-color: green;
    color: white;
    font-weight: bold;
}

h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button {
    color: #016f32;
    width: 150PX;
    padding: 5px 0 5px 0;
    background-color: goldenrod;
    font-weight: bold;
    border: 1px solid gold;
    border-radius: 3px;
    margin: 2px;
}

button:hover{
    background-color: gold;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}