@font-face {
    font-family: Magic;
    src: url("Magic.ttf");
}

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(lightskyblue, pink);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h3, h5, p{
    text-shadow: 0 0 1px black;
}

.image{
    width: 200px;
    border-radius: 50%;
    border: 6px solid #ef80c9;
}

#bday-date{
    background: #ef80c9;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    
}

#bday-age{
    background: #ef80c9;
    padding-left: 5px;
    padding: 3px 5px;
    margin: 10px 0 5px 0;
    border-radius: 5px;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-img{
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 6px solid pink;
    background-image: url("images/gift.jpeg");
    background: linear-gradient();
    background-size: cover;
}

.gift-section{
    margin-top: 50px;
}

.gift-hint{
    margin-top: 10;
}

#gift-img-happy:hover{
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover{
    background-image: url("images/hot.gif");
}

#gift-img-genius:hover{
    background-image: url("images/genius.gif");
}

#gift-img-music:hover{
    background-image: url("images/gif.gif");
}

.cheers-img{
    margin: 0 auto;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: 6px solid pink;
    background-image: url("images/gift.jpeg");
    background-size: cover;

}

.cheers-img:hover{
    background-image: url("images/cheers.gif");
    background-size: cover;
}

#footer{
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px auto;
}

a{
    color: white;
}
