body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.image{
    width: 150px;
    height: 170px;
}

/*
Challenge
1. Give the card div a class (name it 'card')
2. Select the card class and give it a dotted blue border
3. Add 20 pixels of padding on all sides of the
*/

.card{
    width: 400px;
    padding: 20px;
    display: flex;
    /* Challenge
    Add horizontal space arount the flex children
    Hint: google "Justify content"
    */
    justify-content: space-around;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
    margin: 0 auto 0 auto
    
}

.italic{
    font-style: italic;
}


/* Challenge
create a utility class for the dotted blue border
give the class to both flexbox children in the html
 */

.blue-border{
    border: 1px dotted blue;
    /* text-align: center; */
}

h1{
    text-shadow: 0 0 4px black;
}




